<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="User" tabIcon="search" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Search History" tabIcon="list" id="tabsController-tab2"></ion-tab>
</ion-tabs>