<ion-header>
  <ion-navbar>
    <ion-title>
      User Search
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <form id="userSearch-form2">
    <ion-searchbar placeholder="Search Users" (ionInput)="getItems($event)" name="userSearch" id="userSearch-search1"></ion-searchbar>
    <!-- <ion-searchbar placeholder="Search Users" [(ngModel)]= "searchTerm" (ngModelChange)="newSearchTerm" name="userSearch" id="userSearch-search1"></ion-searchbar> -->
    <ion-list id="userSearch-list1">
  <ion-item *ngFor="let item of itemList.items" color="positive" >
      <ion-thumbnail item-left>
          <img src="{{ item.avatar_url }}"/>
        </ion-thumbnail>
        <h2>Login Name: {{ item.login }} </h2>
        <h3>Git Url: {{ item.url }}</h3>
        <ion-icon name="more" item-end on-click="goToProfile(item)"></ion-icon>
    
  </ion-item>
</ion-list>
  </form>
</ion-content>