<ion-header>
  <ion-navbar>
    <ion-title>
      Profiles
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">


    <ion-card>
        <img src="{{ detailItem.avatar_url }}"/>
        <ion-card-content>
          <ion-card-title>
              {{ detailItem.name }}
            </ion-card-title>
          <p>
              <strong>  Email: </strong> {{ detailItem.email }}<br>
              <strong> Location:</strong> {{ detailItem.location}}<br>
              <strong> Bio: </strong> {{ detailItem.bio}}<br>
          </p>
        </ion-card-content>
        <ion-row> 
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="star" isActive="false"></ion-icon>favourite
              <div></div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
        
</ion-content>