<ion-header>
  <ion-navbar>
    <ion-title>
      Search History
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
    <ion-list-header>
        You seacrched for
      </ion-list-header>
  <ion-list>
    <ion-item-sliding #item>
      <ion-item *ngFor="let item of items"> 
        {{item.searchTerm}}
        <ion-icon name="star" item-start></ion-icon>
        <button ion-button item-end outline (click)="favorite(item)">Fav</button>
        <button ion-button item-end outline  color="danger" (click)="delete(item)">Delete</button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>